header{
    background-color: #F3D7B7;
    margin: 0 auto;
    /* width: 1340px; */
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.box{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
a{
    text-decoration: none;
    color: black;
}

.img{
    margin-left: 30px;
}

main{
    background-color:  #F3D7B7;

}

.box2{
   display: flex;
   align-items: center;
}
.div1{
 display: flex;
 
}
h1{
    font-weight: 900;
    font-size: 55px;
}
.img1{
    position: relative;
    left: 215px;
    top: 100px;
}

.img2{
    position: relative;
    right: 550px;
    top: 20px;
    height: 160px;
    width: 160px;

}
button{
    width: 145px;
    height: 39px;
    border-radius: 100px;
    color: white;
    background-color: #0A775F;
    margin-left: 25px;
    border: none;
   
}
.div{
    margin-left: 20px;
}
.section1{
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
    margin-right: 600px;
    margin: 0 auto;
    width: 1000px;
}
.qw img:hover{
    transform: scale(1.2);
    transition: 0.9s;
}
.section2{
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
    padding-left: 290px;
    margin: 0 auto;
    width: 1000px;
}

.ty img:hover{
    transform: scale(1.2);
    transition: 0.9s;
}

.section3{
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
    padding-left: 100px;
    margin: 0 auto;
    width: 1000px;
   
}

.op img:hover{
    transform: scale(1.2);
    transition: 0.9s;
}
h2{
    font-weight: 900;
    font-size: 48px;

}
p{
    font-weight: 400;
    font-size: 22px;
}
.section4{
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content: space-between;
    padding-left: 380px;
    margin: 0 auto;
    width: 1000px;
   
}

.df img:hover{
    transform: scale(1.2);
    transition: 0.9s;
}
.df img{
    width: 451px;
    height: 375px;
}


footer{
    background-color: #F3D7B7;
    margin: 0 auto;
    /* width: 1340px; */
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box9{
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.lpo{
    display: flex;
    justify-content: space-around;
    width: 200px;
}